<!DOCTYPE html>
<html>

  <head>
    <title>Epy.io transforming open data and science into community awareness</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/javascripts/index.js"></script>

  </head>

  <body>


    <div class="epy">
      <div class="epy-headers">
        <div class="epy-logo"><a href="#">Epy.io</a></div>
        <div class="epy-refresh"><a href="#">?</a></div>
        <div class="epy-title"><h2>HIV: San Francisco, CA</h2></div>
      </div>
      <hr/>

      <div class="epy-graph">
        <p class="tangle">
          If you increased the number of Testing Centers by <strong class="tanglable" data-target="new">0.0</strong> %
        </p>
      </div>

      <div class="epy-timeline">
        <img src="/images/CDC-Logo.jpg">
        <img src="/images/sfhiv.png" style="background-color: white; padding: 10px; height: 30px">
      </div>


      <div class="epy-tooltip">
        <p>
          This forecast is the result of <a href="#">142 models</a> validated by the scientific community. 
        </p>
      </div>

    </div>

  </body>

</html>
